@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overscroll-behavior: none;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

p a {
     color: #056C78;
     text-decoration: none;
     transition: all 0.5s;
}

p a:hover {
    color: #59BEC9;
    text-decoration: none;
    transition: all 0.5s;
}

p a:focus {
    color: #056C78;
    text-decoration: none;
    transition: all 0.5s;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #84CFD7;
    color: #fff;
    transition: all 0.5s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #84CFD7;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #056C78;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #056C78;
}

#sidebar ul li div a,
#sidebar ul li div a:hover {
    padding-top: 25px;
    background: #84CFD7;
    font-size: 2em;
    margin: auto

}

#sidebar ul li div {
    margin: auto
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #056C78;
}

.fa, .fa:hover, .fa:active, .fa:visited, .fa:focus {
     text-decoration:none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

img {
    width: 100%
    max-width 200px;    
    height: auto;
    border-radius: 8px;
}

#about-image {
    border: 6px solid #84CFD7;
}

.button-container {
     text-align:center;
     font-size: 3em;
}

.fa-on-white:hover {
    color: #84CFD7;
}

.embedded-image {
    display: block;
    width:80%;
    max-width: 300px;
    margin:auto;
}

.procedural-thumb {
    display: block;
    width:80%; 
    max-width: 300px;
    margin:auto;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Image links
----------------------------------------------------- */

a img {
    border: none;
    margin: auto;
    transition: all 0.5s;
}

a img:hover {
    opacity: 0.5;
}

.image-link {
     border-color: transparent;
     display:block;
     width: 100%;
     height: 200px;
     max-width: 200px;
     line-height: 100px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     position: relative;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     opacity: 0.6;
     border-radius: 8px;
}
 .image-link:link {
     text-decoration: none;
     color: white;
     text-align: center;
     font-size: 18px;
     letter-spacing: 3px;
}
 .image-link:visited {
     text-decoration: none;
     color: white;
     opacity: 0.6;
     border-radius: 8px;
}
 .image-link:hover {
     opacity:1;
     text-decoration: none;
     color: white;
     border-radius: 8px;
}
 .image-link:active {
     text-decoration: none;
     color: white;
     opacity: 0.6;
     border-radius: 8px;
}

 .active-image-link {
     border-color: transparent;
     display:block;
     width: 100%;
     height: 200px;
     max-width: 200px;
     line-height: 100px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     cursor: pointer;
     -webkit-transition: opacity 0.5s ease;
     -moz-transition: opacity 0.5s ease;
     -o-transition: opacity 0.5s ease;
     transition: opacity 0.5s ease;
     position: relative;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;aria
     border: 1px solid #ddd;
     opacity: 1;
     border-radius: 8px;
}
 .active-image-link:link {
     text-decoration: none;
     color: white;
     font-size: 18px;
     letter-spacing: 3px;
     text-align: center;
}
 .active-image-link:visited {
     text-decoration: none;
     color: white;
}
 .active-image-link:hover {
     text-decoration: none;
     color: white;
}
 .active-image-link:active {
     text-decoration: none;
     color: white;
}
 .my-thumbnail {
     width: 100%;
     height: 200px;
     max-width: 200px;
     object-fit: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-transition: opacity 0.5s ease;
     -moz-transition: opacity 0.5s ease;
     -o-transition: opacity 0.5s ease;
     transition: opacity 0.5s ease;
}
 .my-thumbnail:hover {
     opacity: 0.5;
}
 .gallery-preview {
     margin-top: 120px;
}
 .gallery-row {
     margin-bottom: 15px;
}
.gallery {
    padding-bottom: 200px;
}
[class*="col-"] {
     margin-bottom: 15px;
}
#digital-image-link {
     background-image: url("../img/art/digital13_thumb.png");
}
#traditional-image-link {
     background-image: url("../img/art/trad4_thumb.png");
}
#figure-image-link {
     background-image: url("../img/art/fig2_thumb.png");
}
#path-tracer-image-link {
     background-image: url("../img/projects/tanglecube_thumb.png");
}
 #procedural-image-link {
     background-image: url("../img/projects/lsystem_thumb.png");
}
 #mini-minecraft-image-link {
     background-image: url("../img/projects/minecraft_thumb.png");
}
 #mini-maya-image-link {
     background-image: url("../img/projects/miniMaya_thumb.png");
}
 #crystals-image-link {
     background-image: url("../img/projects/crystalCavern_thumb.png");
}
 #wfc-image-link {
     background-image: url("../img/projects/wfc_thumb.png");
}
 #cuda-boids-image-link {
     background-image: url("../img/projects/boids_thumb.png");
}
 #cuda-path-tracer-image-link {
     background-image: url("../img/projects/gpuPathTracer_thumb.png");
}
 #vulkan-grass-image-link {
     background-image: url("../img/projects/grass_thumb.png");
}
 #terrain-shaper-image-link {
     background-image: url("../img/projects/terrain_thumb.png");
}
#deferred-renderer-image-link {
     background-image: url("../img/projects/deferred_thumb.png");
}
#vulkan-hair-sim-image-link {
     background-image: url("../img/projects/hairsim_thumb.png");
}